<%- include('../../partials/header')  %> 

<%- include('../../partials/navbar')  %> 


<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Edição de Artigo</h1>
        </div>

            <div class="card-body">
                <form action="/admin/article/update" method="POST">
                    <!-- Pegar o id, pra usar no where -->
                    <input type="hidden" value='<%=article.id%>' name='id'>  
                     <label for="title"><h1 >Título</h1></label>
                     <input id='title' value ="<%=article.title %>" class='form-control' type="text"  name="title"> <br>

                     <label for="article"><h1 >Corpo</h1></label>
                    <textarea  v id='article' class='form-control'  name="body" placeholder="Escreva aqui o seu artigo"> <%-article.body  %> </textarea>

                    <label for="category"><h1>Categorias</h1></label>
                    <select id='category' class='form-control' name="category" >
                        <% category.forEach(category => { %>            
                        <% if (category.id == article.categoryId) { %>
                        <option value="<%=category.id %>" selected>  <%=category.title  %>   </option>
                        <% } else { %>
                        <option value="<%=category.id %>">  <%=category.title  %>   </option>
                        <% } %>
                        <% }) %>
                    </select>
                    <br>
                    <button type="submit" class="btn btn-primary">Editar o artigo</button> 
                    
                </form>
            </div>

    </div>



<%- include('../../partials/footer')  %> 
 

<!-- Carregar esse script para utilizar o tinymce, serve para manipulação de texto da textarea -->
<script src='/tinymce/tinymce.min.js'></script>

<script>
    tinymce.init({
        selector: "#article",
        plugins: ["advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime  media save table paste emoticons"],
        language:'pt_BR'
    })
</script>