<%- include('../../partials/header')  %> 

<%- include('../../partials/navbar')  %> 


<br>
<div class="container">

<div class="card">
    <div class="card-header">
        <h1>Cadastro de artigo</h1>
    </div>

        <div class="card-body">
            <form action="/articles/save" method="POST">

                <input type="text" class='form-control' placeholder= 'Defina o título do artigo', name = 'title' value=''> <br>
                <textarea id='article' name="body" placeholder="Escreva seu artigo aqui" class='form-control' ></textarea> <br>

                <label  >Categorias</label>
                <select name='category' class='form-control' >
                    <% categories.forEach(category => { %>
                        <option value = <%=category.id  %> > <%= category.title %></option>
                    <% }) %>
                </select> <br>

                <button class='btn btn-success'>Cadastrar</button>
            </form>
        </div>
      
</div>
</div>




<%- include('../../partials/footer')  %>
<!-- Carregar esse script para utilizar o tinymce, serve para manipulação de texto da textarea -->
<script src='/tinymce/tinymce.min.js'></script>

<script>
    tinymce.init({
        selector: "#article",
        plugins: ["advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime  media save table paste emoticons"],
        language:'pt_BR'
    })
</script>